#a{
  margin-left: 20px;
  color: #616161;
font-family: 'Fira Sans', sans-serif;
font-size: 9vmin;
}

#b{
  color: #212121;
}

#c{
margin-top: 30px;
margin-left: 10px;
margin-right: 10px;
}

#pr,#me{
  color: #00796b;
}

#bd{
text-align: center;
background: url("work2.jpg") no-repeat -2500px -600px;
height: 90vmin;
}

#try{
margin-top: 11vmax;
font-size: 8vmin;
font-family: 'Fira Sans', sans-serif;
}

#pro,#co{
font-size: 6vmin;
color: #616161;
font-family: 'Fira Sans', sans-serif;
text-align: center;
}
